In [2]:
fname = input ('Isikan Nama Awal')
mname = input ('Isikan Nama Tengah')
Iname = input ('Isikan Nama Akhir')

print('Selamat Datang',fname,mname,Iname,"S.Kom")

Isikan Nama AwalGaliza
Isikan Nama TengahNur
Isikan Nama AkhirDeani
Selamat Datang Galiza Nur Deani S.Kom

In [5]:
bil1 = input ('Isikan Bilangan 1:')
bil2 = input ('Isikan Bilangan 2:')
print(type(bil1))
hasil = int(bil1) + int (bil2)
print ('Hasil Penjumlahan', hasil)

Isikan Bilangan 1:5
Isikan Bilangan 2:6
<class 'str'>
Hasil Penjumlahan 11

In [10]:
#Luas => p * L
#keliling => 2 * (p+l)

P = input('Isikan Panjang Persegi:')
l = input('Isikan Luas Persegi:')

luas = int(p) * int(l)
keliling = 2 * (int(p) + int (l))

print ('Luas Persegi Panjang',luas)
print ('Keliling Persegi Panjang',keliling)

Isikan Panjang Persegi:5
Isikan Luas Persegi:6
Luas Persegi Panjang 30
Keliling Persegi Panjang 22

In [13]:
print ("Januari","Februari","Maret","April", sep = "#"*4)

Januari####Februari####Maret####April

In [26]:
print ("Senin","Selasa","Rabu","Kamis","Jumat","Sabtu","Minggu", sep = "@", end = "^-^")

Senin@Selasa@Rabu@Kamis@Jumat@Sabtu@Minggu^-^

In [25]:
print ("Senin","Selasa","Rabu","Kamis","Jumat","Sabtu","Minggu", sep = "\n", end = "^-^")

Senin
Selasa
Rabu
Kamis
Jumat
Sabtu
Minggu^-^

In [21]:
number1 = 5
number2 = 17

# Hasil perkalian 5 dengan 17 adalah 85
print("Perkalian {} dengan {} adalah {}".format(number1,number2,number1*number2)

Perkalian 5 dengan 17 adalah 85

In [30]:
first_letter = "Galiza"
middle_letter = "Nur"
last_letter = "Deani"

print ("Urutkan Huruf {2} {1} {0}".format(first_letter,middle_letter,last_letter))

Urutkan Huruf Deani Nur Galiza

In [39]:
# Sekarang tanggal 20 Bulan Maret Tahun 2024
print("Sekarang tanggal {tanggal} Bulan {bulan} Tahun {tahun}".format(tanggal = 20,bulan ='Maret',tahun =2024))

Sekarang tanggal 20 Bulan Maret Tahun 2024

In [45]:
kampus = "Universitas Nusa Putra"
print ("Huruf Pertama adalah:", kampus [0])
print ("Huruf Terakhir adalah:", kampus [-1])
print ("Huruf Range 0-10:", kampus [0:11])
print (kampus [-5:])
print (kampus [12:])
# Reverse String
print(kampus[::-1])

Huruf Pertama adalah: U
Huruf Terakhir adalah: a
Huruf Range 0-10: Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [52]:
# Split => String -> List
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split ()
print(list_kota)
print(list_kota [0])
print(list_kota [1])
#Join => List -> String
join_kota = "-".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Jakarta
Sukabumi
Jakarta-Sukabumi-Malang-Bandung-Surabaya

In [6]:
# Isikan Nama Anda : Galiza Nur
# Isikan Tanggal Lahir : 02/09/2004
# Output :
# Nama Awal : Galiza
# Nama Akhir : Nur
# Tanggal Lahir : 20
# Bulan lahir : 09
# Tahun Lahir : 2004
# Nama Inisial : GN

nama = input ("Isikan Nama Anda:")
tanggal = input ("Isikan Tanggal Lahir:")

list_nama= nama.split()
print("Nama Awal:", list_nama[0])
print("Nama Akhir:", list_nama[1])

inisial = list_nama[0][0] + list_nama[1][0]
print("Nama Inisial:",inisial) 
list_tanggal = tanggal.split('/')
print("tanggal lahir:", list_tanggal[0])
keterangan = ""
if list_tanggal[1]=="01":
    keterangan ="Januari"
elif list_tanggal[1]=="02":
    keterangan = "Februari"
elif list_tanggal[1]=="03":
    keteranan = "Maret"
elif list_tanggal[1]=="04":
    keterangan = "April"
elif list_tanggal[1]=="04":
    keterangan = "April"
elif list_tanggal[1]=="05":
    keterangan = "Mei"
elif list_tanggal[1]=="06":
    keterangan = "Juni"
elif list_tanggal[1]=="07":
    keterangan = "Juli"
elif list_tanggal[1]=="08":
    keterangan = "Agustus"
elif list_tanggal[1]=="09":
    keterangan = "September"
elif list_tanggal[1]=="10":
    keterangan = "Oktober"
elif list_tanggal[1]=="11":
    keterangan = "November"
elif list_tanggal[1]=="12":
    keterangan = "Desember"
print("Bulan Lahir:", list_tanggal[1], keterangan)
print("tahun lahir:", list_tanggal[2])

Isikan Nama Anda:Galiza Nur
Isikan Tanggal Lahir:02/09/2004
Nama Awal: Galiza
Nama Akhir: Nur
Nama Inisial: GN
tanggal lahir: 02
Bulan Lahir: 09 September
tahun lahir: 2004